@using Adilicious.Core
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/sorter/style.css">
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.pager.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Addilicious", "Index", new { Controller = "Home" }, new { @class = "navbar-brand" })
            </div>
            <div role="navigation">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("All", "All", new { Controller = "Home" })</li>
                    <li>@Html.ActionLink("Cover", "Cover", new { Controller = "Home" })</li>
                    <li><a href="#">Top</a></li>
                    <li><a href="#">Top Brands</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
