@model IEnumerable<Adilicious.Web.Models.AdViewModel>

@{
    ViewBag.Title = "All Results";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(
            function () {
                $("#ads").tablesorter({ widthFixed: true, widgets: ['zebra'] }).tablesorterPager({ container: $("#pager") });
            }
        );
    </script>
}

<h2>All Results</h2>
<table id="ads" class="tablesorter">
    <thead>
        <tr>
            <th>
                Ad Id
            </th>
            <th>
                Brand Id
            </th>
            <th>
                Brand Name
            </th>
            <th>
                Number of Pages
            </th>
            <th>
                Position
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ad in Model)
        {
            <tr>
                <td>
                    @ad.AdId
                </td>
                <td>
                    @ad.BrandId
                </td>
                <td>
                    @ad.BrandName
                </td>
                <td>
                    @ad.NumPages
                </td>
                <td>
                    @ad.Position
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="pager" class="pager">
    <form>
        <img src="~/pager/first.png" class="first" />
        <img src="~/pager/prev.png" class="prev" />
        <input type="text" class="pagedisplay" />
        <img src="~/pager/next.png" class="next" />
        <img src="~/pager/last.png" class="last" />
        <select class="pagesize">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </form>
</div>